<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/index.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Inria+Serif|Roboto+Condensed&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Inria+Serif|M+PLUS+1p|Roboto+Condensed&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Inria+Serif|M+PLUS+1p|Roboto+Condensed|Sawarabi+Gothic&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Inria+Serif|M+PLUS+1p|Roboto+Condensed|Sawarabi+Gothic&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="favicon.ico">
  <title>Annex Music School</title>
</head>
<body>
  <header id="head">
    <div class="title">
      <h1>Annex Music School</h1>
    </div>
  </header>
  <nav>
    <ul>
      <li><a href="#sub">教室について</a></li>
      <li><a href="#sub2">レッスン</a></li>
      <li><a href="#sub3">料金</a></li>
      <li><a href="#sub4">アクセス</a></li>
      <li><a href="#sub5">お問い合わせ</a></li>
    </ul>
  </nav>
  <div class="info">
    <div class="sub" id="sub">
      <h2>教室について</h2>
    </div>
    <div class="about">
      <div class="intro">
        <p>アネックスミュージックスクールは、戸塚の小さな音楽教室です。<br>お子様からシニアの方まで、「楽しくわかりやすく」をモットーにレッスンを行なっております。<br>初心者のためのコースも各科目ごとに多数揃えており、<br>楽譜が読めない、初めて楽器に触れる人でも安心してレッスンを受けることができます。</p>
      </div>
      <div class="image"><img src="https://cdn.pixabay.com/photo/2018/04/17/14/06/paper-3327583_1280.jpg" width="30%" height="265px"></div>
    </div>
    <div class="sub" id="sub2">
      <h2>レッスン</h2>
    </div>
    <div class="about2">
      <div class="lesson">
        <div class="lessons">
          <div class="instruments">
            <h3>ギター（エレキ、アコースティック）</h3>
            <p>チューニング方法から弦の替え方、さらには曲に欠かせないリズムギターやギターソロに必要なテクニックや
            理論などのレッスンが可能で、へヴィメタルからジャズ、クラシックから歌謡曲まで、幅広いジャンルに対応
            できます。</p>
          </div>
          <div class="teachers"><img src="https://cdn.pixabay.com/photo/2018/11/15/19/49/classical-guitar-3817990__480.jpg" width="170px" height="100px">
          </div>
        </div>
        <div class="lessons">
          <div class="instruments">
            <h3>ウクレレ</h3>
            <p>ギターに比べると、柔らかい弦で非常にフレットが
            押さえやすいので、幼稚園児からシニアの方まで様々な方にお勧めの楽器です。</p>
          </div>
          <div class="teachers"><img src="https://cdn.pixabay.com/photo/2015/06/19/00/10/ukulele-814279_1280.jpg" width="170px" height="100px">
          </div>
        </div>
        <div class="lessons">
          <div class="instruments">
            <h3>ピアノ</h3>
            <p>お子様のレッスンでは年齢やレベルに合わせ、
            歌やリトミックも加えながら音感・リズム感を伸ばす
            レッスンを行っています。
            大人の方は、基礎からお好きな曲まで、ジャンルを問わずレッスン致します。</p>
          </div>
          <div class="teachers"><img src="https://cdn.pixabay.com/photo/2018/06/29/01/47/piano-3505109_1280.jpg" width="170px" height="100px">
          </div>
        </div>
        <div class="lessons">
          <div class="instruments">
            <h3>エレキベース</h3>
            <p>指弾きからピック弾きまで完全対応で、ベースラインに
            必要なテクニックを学ぶことができます。
            リズムマシーンに合わせながら確実な技術を身につけていき、中級以降はスラップやアドリブなども可能です。</p>
          </div>
          <div class="teachers"><img src="https://cdn.pixabay.com/photo/2015/05/27/20/57/electric-bass-787207__480.jpg" width="170px" height="100px">
          </div>
        </div>
        <div class="lessons">
          <div class="instruments">
            <h3>ドラム</h3>
            <p>しっかりと基礎を学びつつ、良い音、心地よいリズムの出し方など、長くドラムを楽しんでいける様にレッスンします。
            ドラムだけでなく、カホンやジャンベなどのパーカッションも学んでいただけます。</p>
          </div>
          <div class="teachers"><img src="https://cdn.pixabay.com/photo/2016/11/19/13/57/drum-set-1839383__480.jpg" width="170px" height="100px">
          </div>
        </div>
        <div class="lessons">
          <div class="instruments">
            <h3>ボーカル</h3>
            <p>基本的な発声法をはじめ、お好きな曲をマスターできます。ポップス・日本歌曲など
            いろいろなジャンルを学べます。カラオケ好きな方やアコースティックギターでの弾き語りをやってみたい方などに最適な、ボイストレーニングを中心にレッスンします。</p>
          </div>
          <div class="teachers"><img src="https://cdn.pixabay.com/photo/2016/03/09/10/45/microphone-1246057__480.jpg" width="170px" height="100px">
          </div>
        </div>
      </div>
    </div>
    <div class="sub" id="sub3">
      <h2>料金</h2>
    </div>
    <div class="price">
      <p>・ベーシックコース<br>1回30分の個人レッスン</p>
      <table>
        <tr>
          <th></th>
          <th>月２回</th>
          <th>月3〜４回</th>
        </tr>
        <tr>
          <th>高校生以下</th>
          <th>7000円</th>
          <th>9000円</th>
        </tr>
        <tr>
          <th>一般</th>
          <th>8000円</th>
          <th>10000円</th>
        </tr>
      </table>
      <p>上記の価格は全て<span class="color-change">税抜</span>です。<br>上記以外にも月1回からのコース、グループレッスンなどがございます。お気軽にお問い合わせください。</p>
    </div>
    <div class="sub" id="sub4">
      <h2>アクセス</h2>
    </div>
    <div class="access">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d813.0409745895427!2d139.53036002924256!3d35.401187791921984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60185a83ac3c84a5%3A0x92b798244bfb9a10!2z44CSMjQ0LTAwMDMg56We5aWI5bed55yM5qiq5rWc5biC5oi45aGa5Yy65oi45aGa55S677yU77yS77yV77yT4oiS77yR!5e0!3m2!1sja!2sjp!4v1577338246536!5m2!1sja!2sjp" width="700" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      <p>A館:1F 13の場所が教室になります。館外のみからのアクセスとなります。<br>B館:地下1F 26の場所が教室となります。ノースエレベーターの隣です。</p>
      <p>サクラス戸塚のフロアガイドは</p><a href="https://www.saclass-totsuka.jp/pdf/floor_guide.pdf" target="_blank"><span class="map">こちら</span></a>
      <h4>電車の場合</h4>
      <p>戸塚駅より徒歩3分のサクラス戸塚へ、戸塚駅西口にあるトツカーナを通り陸橋を渡ってお越しください。</p>
      <h4>お車の場合</h4>
      <p>サクラス戸塚の駐車場をご利用いただけます。当教室は駐車場割引サービスはございませんのでご了承ください。<br>横浜新道方面からは矢沢交差点を左折<br>国道1号を大船方面からは清源院入口交差点を左折</p>
    </div>
    <div class="sub" id="sub5">
      <h2>お問い合わせ</h2>
    </div>
    <div class="ask">
      <p>TEL.012-345-6789</p>
      <p class="form">問い合わせフォーム</p>
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf77Wlb0q6zPPITm5UJvKSubQxm6xezmdjQ6u1sWMEzlRGnkA/viewform?embedded=true" width="100%" height="685" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>
      <a href="#head"><span></span>Page Top</a>
    </div>
  </div>
  <footer>&copy;Annex Music School</footer>
</body>
</html>